#sectionOne {
  position: relative;
  height: 15%;
  width:100%;
  font-family: 'Roboto', sans-serif;
}

#sectionTwo{
  position: relative;
  margin: 0;
  background: url(http://i.imgur.com/yeuH4bX.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 80vh;
  width: 100%;
}

#sectionThree {
  position: relative;
  height: 15%;
  width: 100%;
}

#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}

#nav li a {
  position: relative;
  float: right;
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  top: -45px;;
}
#nameLogo {
  color: white;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: 21%;
  left: 23%;
  position: relative;
}
#bioLogo {
  color: white;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  top: 28%;
  left: 0;
  position: relative;
  font-weight: normal;
  text-align: center;
}

#logoContainer {
  width: 40%;
  height: 46%;
  position: relative;
  opacity: .8;
  background-color: #34495e;
  top: 12%;
  left: 31%;
}

#githubButton {
  background-color: #34495e;
  position: absolute;
  height: 50px;
  width: 100px;
  top: 72%;
  left: 47%;
  margin: 0;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  border-style: none;
}

#githubButton a{
  text-decoration: none;
  color: white;
}


/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
view rawghost.css*/
