header {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  top: 0;
}
body{
  background: url(http://i.imgur.com/wTmHPs0.jpg);
  background-repeat: no-repeat;
  background-color: black;
}
a {
  color: white;
}
.logo {
  z-index: 3;
  position: absolute;
  top: 3rem;
  left: 20%;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  opacity: 2;
  margin: 0 auto;
  font-weight: normal;
}
h3 {
  color: white;
  position: absolute;
  left: 32%;
}
h1 {
  text-align: center;
  padding-top: 170px;
  padding-bottom: 0px;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  opacity: 1;
  margin-bottom: -25px;
  color: white;
}
h2 {
  text-align: center;
  font-weight: normal;
  padding-top: 0px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  opacity: 1;
}
hr {
  border: solid black;
  background-color: black;
  height: 3px;
  width: 90%;
}
p {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

ul {
    text-align: center;
    margin-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 3;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li {
  float: left;
  margin-right: 1%;
  margin-left: 3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
.container {
display: inline-block;
text-align: left;
}

.pageCover {
  /*background-color: #3498db;*/
  opacity: .8;
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

.contact {
  position: relative;
  top: 2rem;
  text-align: center;
  z-index: 2;
  margin: 0 auto;
}

#contactHeader {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
#aboutHeader {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
#projectsHeader {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

footer {
  display: inline-block;
  z-index: 2;
  position: relative;
  height: 50%;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: 0;
  color: black;
}
