head {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("http://i.imgur.com/kBNQatR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
text-align: center;
color: black;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  color: white;
}

.container4 {
    display: inline-block;
    height: 10em;
    position: relative
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    clear: both;
}

footer {
  clear: both;
  background-color: white;
  height: 50px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  color: black;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
